DEBUG=true
POSTGRES_SERVER="localhost"
POSTGRES_USER="username"
POSTGRES_PASSWORD="user_password"
POSTGRES_DB="project_db"

#Generated as:  openssl rand -hex 32
SECRET_KEY=229b1090939bd2090236bd88a705498a4a80b12f31f877930491541b9228f343
PROJECT_NAME='Generated Python FastAPI Project'
PROJECT_DOMAIN_NAME='.localhost'

#comma separated list of allowed origins
CORS_ALLOWED_ORIGINS='http://localhost.org:4200'
OPEN_API_PREFIX=''
API_V1_STR='/v1'